

.updateFormPage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
}

.updateFormbox , .updateFormimgBox{
    width: 25vw;
    height: 85vh;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 8px 10px #702323;
    padding: 15px;
    margin:0 5px;
}


.updateFormbox >h1 {
    font: 700 26px "Roboto";
    padding: 20px;
    transition: all 0.5s;
    place-items: center;
    margin: 5px auto;
    width: 70%;
    color: #702323;
    border-bottom: #702323 1px solid;
}
.updateFormbox >div>div {
    padding: 5px 15px;
}

.updateFormbox >div>div>label {
    font: 700 20px "Roboto";
    padding:5px 10px;
    transition: all 0.5s;
    place-items: center;
    width: 100%;
}


.updateFormbox >div>div>input {
    padding:16px 20px ;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #702323;
    border-radius: 4px;
    font: 300 16px cursive;
    outline: none;
}









